<br><br>
<div align="center">
<div class="card text-center col-10">
  <div class="card-body">
    <h5 class="card-title">LISTA DE ARTICULOS EN OFERTA</h5>
    <p class="card-text">asdsadsa</p>
  </div>
</div></div><br>
<div align="center"><a href="#" class="btn btn-info btn-sm" style="width: 30%">Seguir viendo Artículos en Oferta!</a><br><br><br>
</div>

<div align="center">
<div class="card text-center col-10">
  <div class="card-body">
    <h5 class="card-title">LISTA DE LO MAS POPULAR</h5>
    <p class="card-text">Un ranking de productos mas vendidos de la tienda.</p>
    
  </div>
</div></div><br>
<div align="center">
<a href="#" class="btn btn-info btn-sm" style="width: 30%">Seguir viendo lo más Popular!</a></div>
<br><br><br><br>


<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">REFERENCIAS</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>